@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0px;
}

.main-header {
  width: 100%;
  height: 100vh;

  .mobile-bar {
    top: 20px;
    right: 10px;
    display: none;
    padding: 2px;
    position: fixed;
    cursor: pointer;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    animation-name: bar;
    border-radius: 100px;
    flex-direction: column;
    animation-duration: 1s;
    z-index: 99999999999999999;
    border: #ffffff 2px solid;
    animation-iteration-count: infinite;
  }

  @keyframes bar {
    100% {
      border: solid 2px rgba(71, 126, 232, 0);
    }
  }

  .side-bar-mobile {
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #333232;
    transition: 0.2s ease-in-out;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: space-around;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        a {
          color: #ffff;
          font-size: 2rem;
          letter-spacing: 1px;
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }

  .header-list {
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 10px;
    display: flex;
    position: fixed;
    transition: 0.5s ease-in-out;
    background-color: #00000028;
    font-family: "Roboto", sans-serif;
    font-family: "Montserrat", sans-serif;

    .name-person {
      width: 40%;
      display: flex;
      padding: 10px;
      color: #ffff;
      font-size: 2rem;
      font-weight: 600;
      justify-content: center;
    }

    ul {
      width: 40%;
      display: flex;
      list-style: none;
      align-items: center;

      li {
        width: 100%;

        a {
          letter-spacing: 1px;
          color: #ffff;
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }
  }

  .darkMode {
    position: fixed;
    z-index: 9999;
    right: 15px;
    top: 90px;
    cursor: pointer;

    .modeIcon {
      font-size: 2rem;
    }
  }

  .header-content {
    top: 35%;
    left: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, 50%);

    .name-content {
      position: relative;
      margin-bottom: 20px;

      .text {
        font-size: 7rem;
        transition: 1s ease-in-out;
        font-family: "Dancing Script", cursive;
      }

      .board {
        top: 0;
        width: 100%;
        height: 140px;
        position: absolute;
        background-color: white;
      }
    }

    .cargo-content {
      position: relative;

      .text {
        display: flex;
        font-size: 60px;
        justify-content: center;
        transition: 1s ease-in-out;
        color: rgba(0, 0, 0, 0.505);
        font-family: "Roboto", sans-serif;
      }

      .board {
        width: 100%;
        height: 140px;
        position: absolute;
        background-color: white;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .main-header {
    .header-list {
      .name-person {
        justify-content: flex-start;
        width: 100%;
      }
      ul {
        display: none;
      }
    }
    .mobile-bar {
      display: flex;
    }
    .side-bar-mobile {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    width: 100vw;

    .header-content {
      .name-content {
        .text {
          font-size: 3.2rem;
        }

        .board {
          display: none;
        }
      }

      .cargo-content {
        .text {
          font-size: 2.5rem;
        }

        .board {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 471px) {
  .main-header {
    width: 100vw;

    .header-content {
      .name-content {
        .board {
          display: block;
        }
      }

      .cargo-content {
        .text {
          font-size: 2rem;
        }

        .board {
          display: block;
        }
      }
    }
  }
}
