@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.container-images {
    margin-top: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .text-contacts {
        position: absolute;
        font-size: 20rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.266);
        transition: 2s;
        top: -120px;
    }

    .contacts {
        z-index: 999;
        margin-left: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;

        img {
            max-width: 120px;
        }

    }
}