@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


.main-body {
    width: 100%;
    height: 100vh;

    .footerContent {
        height: 30%;
    }

    .content-desc {
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .about {
            transform: translateX(-100%);
            font-size: 13rem;
            position: absolute;
            left: 0%;
            top: 30%;
            color: rgba(0, 0, 0, 0.159);
            font-family: 'Oswald', sans-serif;
            transition: 1.5s ease-in-out;
        }

        .desc {
            margin-top: 200px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 400;
            width: 60%;
            margin-right: 200px;
            font-family: 'Roboto', sans-serif;
            font-size: 2.3rem;
        }
    }

    .app-content {
        display: flex;
        flex-direction: row;
        width: 100%;


        .desc-app {
            font-family: 'Roboto', sans-serif;
            margin-top: 400px;
            padding: 40px;
            width: 50%;
            height: 800px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 1.5s ease-in-out;

            .system {
                font-size: 2.5rem;
                font-weight: 900;
                color: rgba(0, 0, 0, 0.208);
            }

            div {
                .linguage {
                    color: rgba(0, 0, 0, 0.159);
                    font-size: 3rem;
                    font-weight: 800;
                    margin-bottom: 80px;
                    transition: 1.5s ease-in-out;
                }

                .project {
                    font-size: 2.3rem;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.735);
                    margin-bottom: 30px;
                }

                .desc-projeto {
                    color: rgba(0, 0, 0, 0.735);
                    font-size: 1.9rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    font-style: italic;
                }
            }

        }


        .image-app {
            margin-top: 400px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 1.5s;

            div {
                .bottonMarginPhoto {
                    margin-bottom: 150px;
                }

                img:hover {
                    transition: 1s;
                    width: 420px;
                }

                img {
                    width: 400px;
                    transition: 1s;
                    margin-left: 20px;
                }

            }
        }

        .image-web {
            .img-margin-left {
                margin-left: 200px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                img:hover {
                    max-width: 750px;
                    transition: 1s;
                }

                img {
                    max-width: 700px;
                    transition: 1s;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .img1 {
        max-width: 430px !important;
    }

    .main-body {
        width: 100vw;
        margin-top: 0px;

        .footerContent {
            height: 40%;
        }


        .content-desc {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            width: 100%;

            .about {
                display: none;
            }

            .desc {
                margin: 1200px auto 0 auto;
                font-weight: 400;
                font-size: 1.4rem;
                text-align: center;
            }
        }

        .app-content {
            overflow: hidden;
            flex-direction: column;
            margin-bottom: -66%;

            .desc-app {
                width: 100%;

                div {
                    transform: translateX(-18px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: -1000px;

                    .linguage {
                        font-size: 2.5rem;
                        margin-bottom: 80px;
                        transition: 1.5s ease-in-out;
                    }

                    .project {
                        font-size: 1.5rem;
                        margin-bottom: 30px;
                    }

                    .desc-projeto {
                        font-size: 1.1rem;
                    }
                }

                .system {
                    width: 100%;
                    font-size: 2.5rem;
                    margin-bottom: -800px;
                    margin-left: -20px;
                }

            }

            .image-app {
                width: 100%;
                margin-top: 0;
                margin-left: -8px;

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .bottonMarginPhoto {
                        margin-bottom: 0px;
                    }

                    img:hover {
                        transition: 1s;
                        width: 160px;
                    }

                    img {
                        width: 160px;
                        transition: 1s;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 320px) {

    .image-app {

        div {
            img:hover {
                transition: 1s;
                width: 120px !important;
            }

            img {
                width: 120px !important;
                transition: 1s;
                margin-left: 20px;
            }
        }
    }

}