.container-buttom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: Animacao;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}

#dropArrow {
    font-size: 50px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}


@keyframes Animacao {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 30px;
    }

    100% {
        bottom: 0px;
    }
}